<div id="nav-superior" class="z-depth-1">
    <div style="float: left; top: 10px; position: absolute; left: 10px;">
        <a id="btnBack" href="http://visor.geoperu.gob.pe/" target="_blank" style="margin-left: 20px;"><img
                alt="Regresar" src="../administracion/images/buttons_letters/back.png" onmouseover="hover(this);"
                onmouseout="unhover(this);" data-img="back" data-file="buttons_letters"></a>
    </div>
    <div style="float: right; position: absolute; top: 10px; right: 10px;">
        <a id="btnLogout" href="#" onclick="fnLogout();" style="margin-right: 20px;"><img alt="Log Out"
                src="../administracion/images/buttons_letters/logout.png" onmouseover="hover(this);"
                onmouseout="unhover(this);" data-img="logout" data-file="buttons_letters"></a>
    </div>
</div>

<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <a href="#user"><img id="imgFotoPerfil" class="circle" src="../administracion/template/photo_init.png"></a>
            <a href="#!"><span id="spanUsuario" class="color-text"><label
                        style="font-size: 20px; font-weight: 600; color: #fff;"
                        id="lblUsuario"></label></span></a><br />
            <a href="#!"><span id="spanRol" class="color-text"><label
                        style="font-size: 14px; font-weight: 400; color: #fff;" id="lblRol"></label></span></a>
        </div>
    </li>
    <li><a class="subheader color-text">ADMINISTRACIÓN</a></li>
    <li id="mnuGeneral"><a href="../administracion/general.html" class="color-text"><i class="material-icons"><img
                    alt="Menu General" src="../administracion/images/buttons_icons/general.png"
                    style="vertical-align: middle;" /></i>General</a></li>
    <li id="mnuTematica"><a href="../administracion/tematica.html" class="color-text"><i class="material-icons"><img
                    alt="Menu Temáticas" src="../administracion/images/buttons_icons/tematica.png"
                    style="vertical-align: middle;" /></i>Administrar categorías</a></li>
    <li id="mnuCapa"><a href="../administracion/capas.html" class="color-text"><i class="material-icons"><img
                    alt="Menu Capas" src="../administracion/images/buttons_icons/capas.png"
                    style="vertical-align: middle;" /></i>Administrar capas</a></li>
    <li id="mnuIcons"><a href="../administracion/icons.html" class="color-text"><i class="material-icons"><img
                    alt="Menu Íconos" src="../administracion/images/buttons_icons/controls.png"
                    style="vertical-align: middle;" /></i>Administrar íconos</a></li>
    <li id="mnuControl"><a href="../administracion/control.html" class="color-text"><i class="material-icons"><img
                    alt="Menu Controles" src="../administracion/images/buttons_icons/controls.png"
                    style="vertical-align: middle;" /></i>Administrar controles</a></li>
    <li id="mnuColor"><a href="../administracion/color.html" class="color-text"><i class="material-icons"><img
                    alt="Menu Controles" src="../administracion/images/buttons_icons/controls.png"
                    style="vertical-align: middle;" /></i>Configurar colores</a></li>
    <li id="mnuUsuario"><a href="../administracion/usuario.html" class="color-text"><i class="material-icons"><img
                    alt="Menu Usuarios" src="../administracion/images/buttons_icons/usuarios.png"
                    style="vertical-align: middle;" /></i>Gestión de usuarios</a></li>
    <li id="mnuSubsistema"><a href="../administracion/subsistema.html" class="color-text"><i class="material-icons"><img
                    alt="Menu Subsistemas" src="../administracion/images/buttons_icons/subsistemas.png"
                    style="vertical-align: middle;" /></i>Gestión del subsistema</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader color-text">MI CUENTA</a></li>
    <li id="mnuPerfil"><a href="../administracion/perfil.html" class="color-text"><i class="material-icons"><img
                    alt="Menu Subsistemas" src="../administracion/images/buttons_icons/datos.png"
                    style="vertical-align: middle;" /></i>Datos del Usuario</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader color-text">SOPORTE</a></li>
    <li id="mnuFaq"><a href="../administracion/faq.html" class="color-text"><i class="material-icons"><img
                    alt="Menu Subsistemas" src="../administracion/images/buttons_icons/faq.png"
                    style="vertical-align: middle;" /></i>Preguntas frecuentes</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <center><img alt="" src="../administracion/template/geoperu.png"></center>
    </li>
    
</ul>